body {
  font-family: arial, sans-serif;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 5px;
  width: 600px;
  padding: 10px;
  margin: 10px auto;
}
h1 {
  color: #878787;
  font-size: 24px;
  line-height: 26px;
  font-weight: 100;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
